{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre de la serie dans l'onglet du navigateur | {{ parent() }}
{% endblock %}

{% block body %}
<h2>todo: le titre de la serie + son année son descriptif etc </h2>
{% endblock %}

